
html, body {
  padding: 0;
  margin: 0;
  color: #444;
  font-family: tahoma, helvetica, sans-serif;
  font-size: small;
}

/* Headers */

h1 {
  color: #fff;
  background:transparent;
  filter: alpha(opacity = 50); 
  -moz-opacity: .50;
  opacity: .50;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

/* Special cases of paragraphs following headers */

h2 + p {
  margin-top: 0.5em;
}

h3 + p,
h4 + p,
h5 + p,
h6 + p {
  margin-top: 0;
}

/* Special headers */

.node h1 {
  color: #444;
  filter: alpha(opacity = 100); 
  -moz-opacity: 1.0;
  opacity: 1.0;
}

#side h1 {
  border-top: 2px solid #eee;
  border-left: 2px solid #eee;
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  background: #fff;
  padding: 2px;
  margin: 0;
  height: 95px;
  overflow: hidden;
  text-align: center;
  width: 236px;
}

/* Styling avatars */

div.picture {
  float: right;
  margin: 0.5em 0 1em 1em;
  padding: 7px 7px 15px 7px;
  border: 1px solid #f0f0f0;
  border-right: 2px solid #eee;
  border-bottom: 2px solid #eee;
  background: #fff;
  background: #fff;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* Custom class "foto" for images in posts */

img.foto {
  float: right;
  margin: 0.5em 0 0.5em 0.5em;
  padding: 1px;
  border: 3px solid #ddd;
}

div.meta {
  clear: both;
}

div.node {
  padding: 0 0 1em 0;
  border-bottom: 3px solid #e4e4e4;
}

/* Links */

a {
  color: #06c;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

h2 a {
  text-decoration: none;
  color: #888;
}

/* All blocks in the sidebar with borders and transparent */

#side .block {
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 0 5px 10px 5px;
  margin: 5px 0 5px 0;
  width: 231px;
  background: #fff;
  filter: alpha(opacity = 80); 
  -moz-opacity: .80;
  opacity: .80;
}

div.block-statistics {
  width: auto;
  margin-top: 2em;
}

div.block-statistics div.item-list {
  float: left;
  width: 170px;
  font-size: 80%;
  margin-left: 1em;
  margin-right: 1em;
}

div.block-statistics br {
  display: none;
}

div.block h2 {
  font-weight: normal;
  font-size: medium;
  text-transform: uppercase;
  xcolor: #06c;
  padding: 0 5px 5px 5px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.5em;
}

div.item-list li,
.item-list li { 
  list-style-type: square;
  list-style-image: url('images/bullet.gif');
  padding: 0;
  margin: 0 0 0 1.25em;
}

#attachments {
  margin-bottom: 1em;
}

div.view-content-tracker td,
#attachments td {
  padding: 0.25em;
}

div.service-links {
  margin-top: 2em;
  margin-bottom: 1em;
}

/* Tables */

table {
  margin: 0.5em 0 0.5em 0;
}

table th,
table td {
  padding: 2px 4px 2px 4px;
}

table caption {
  font-style: italic;
  text-align: right;
  font-size: 90%;
  line-height: 200%;
}

/* Specific tables */

#system-themes-form th,
#system-themes-form td {
  padding: 0.5em;
}

/* Various html elements styles */

cite {
  border-bottom: 1px dotted #000;
  font-style: italic;  
}

dfn {
  border-bottom: 1px dotted #000;
  font-style: italic;
}

blockquote {
  border-left: 2px solid #06c;
  padding-left: 2em;
  margin-left: 0;
}

kbd,
samp,
code,
pre {
  border: 1px solid #eee;
  background: #fff;
  padding: 1em;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

samp,
code,
kbd {
  padding: 0.25em;
}

/* messages */

.help,
.messages {
  margin: 0.5em;
  padding: 0.5em !important;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.help {
  border: 1px solid #ddd;
  background-color: #eef;
}

.status {
  border: 1px solid #6f6;
  background-color: #afa;
}

/* Comments */

.comment .content {
  border: 1px solid #eee;
  background: #fff;
  padding-left: 1em;
  margin-right: 70px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

div.submitted {
  font-size: 70%;
  margin: 0.5em;
}

/* Node submitted */

p.submitted {
  font-size: 80%;
  margin-top: 0.5em;
  padding-bottom: 1em;
}

/* Fieldsets */

fieldset {
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding-left: 1em;
  padding-right: 1em;
}

/* Color Picker in theme settings */

.colorpicker {
  float: right;
}
